version: '3.8'
services:
  diun:
    image: crazymax/diun:latest
    container_name: diun
    restart: unless-stopped
    environment:
      - TZ=America/Los_Angeles
      - LOG_LEVEL=info
      - LOG_JSON=false
      - DIUN_PROVIDERS_DOCKER=true
      - DIUN_WATCH_SCHEDULE=0 */4 * * *
      - DIUN_NOTIF_DISCORD_WEBHOOKURL=${DIUN_NOTIF_DISCORD_WEBHOOKURL}
      - DIUN_PROVIDERS_DOCKER_WATCHBYDEFAULT=true
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /mnt/user/appdata/diun:/data
    networks:
      - jarvis
    labels:
      - traefik.enable=false
      # Exclude diun from monitoring itself
      - diun.enable=false

networks:
  jarvis:
    external: true